# chap__1__Print

In [2]:
print("Hello, world!")

Hello, world!

# chap_2_Variable_for_string

In [17]:
name = "Mark"
print(name)

Mark

In [19]:
foogle = "name"
print(foogle)

name

In [24]:
nsme = "Mark"
name

'Mark'

In [28]:
Country_of_origin = "pakistan"
Country_of_origin

'pakistan'

# Chap_3_Variable_for_Numbers

In [4]:
weight = 150
weight

150

In [5]:
weight + 25

175

In [25]:
original_num = 30

In [26]:
num_to_be_added = 20

In [27]:
new_num = original_num + num_to_be_added

In [24]:
original_number = original_number + 10

In [28]:
new_num

50

In [29]:
original_num = 30
num_to_be_added = 20
new = original_num + num_to_be_added
new

50

In [32]:
number = original_num + 5

In [33]:
number

35

# chapt_4_Mathematic Operation

In [2]:
sum = 2+2
sum

4

In [3]:
print(2+2)

4

In [5]:
subtract = 6-2
subtract

4

In [6]:
print(6-2)

4

In [7]:
Multiplication = 2*2
Multiplication

4

In [8]:
print(4*2)

8

In [9]:
divide=(4/2)
divide

2.0

In [10]:
print(4/2)

2.0

# Chap_6_Maths_Expression:Unfamiliar_Operator

In [12]:
WHATS_LEFT_OVER = 10 % 3
WHATS_LEFT_OVER

1

In [19]:
age=25
age

25

In [20]:
age = age + 1
age

26

In [25]:
age += 1
age

30

# IF_STATEMENT

In [2]:
a= 10
b=20
if a > b:
    print ("if block")
    
else:
    print ("else block")

else block

In [5]:
temp= int(input("Enter the temperature today:"))# type casting
if temp <30:
    print ("its hot weather today")
else:
    print("normal weather")

Enter the temperature today:23
its hot weather today

# Nested_if

In [4]:
cnic = input("do you have cnic?")
if cnic =='yes':
    print ("andar chalay jaen")
    nameinlist = input ("is my name in list?")
    if nameinlist == 'yes':
        print("please caste your vote")
    else:
        print ("you can not caste vote")
               
else:
    print ("you can not caste vote")

do you have cnic?yes
andar chalay jaen
is my name in list?yes
please caste your vote

# if_elif_else

In [5]:
mark = int(input("Enter your marks :"))
grade = " "
''''''
print(f"your marks are {mark} and your grade is {grade}")

Enter your marks :60
your marks are 60 and your grade is C

# LIST

In [6]:
students = ['asad', 'nasir','aisha']
students

['asad', 'nasir', 'aisha']

In [7]:
students [1]

'nasir'

In [8]:
print("nasir")
print("ali")

nasir
ali

In [9]:
students.append ("hussain")
students

['asad', 'nasir', 'aisha', 'hussain']

In [15]:
students.insert(3,"abcd")

In [13]:
del students[3]

In [14]:
students

['asad', 'nasir', 'aisha', 'abcd', 'hussain']

In [16]:
students[2] = "Komal"

In [ ]:
student