# chap__1__Print

In [1]:
print("Hello, world!")

Hello, world!

# chap_2_Variable_for_string

In [2]:
name = "Mark"
print(name)

Mark

In [3]:
foogle = "name"
print(foogle)

name

In [4]:
nsme = "Mark"
name

'Mark'

In [5]:
Country_of_origin = "pakistan"
Country_of_origin

'pakistan'

# Chap_3_Variable_for_Numbers

In [6]:
weight = 150
weight

150

In [7]:
weight + 25

175

In [8]:
original_num = 30

In [9]:
num_to_be_added = 20

In [10]:
new_num = original_num + num_to_be_added

In [11]:
original_number = original_number + 10

NameError: name 'original_number' is not defined

In [ ]:
new_num

In [ ]:
original_num = 30
num_to_be_added = 20
new = original_num + num_to_be_added
new

In [ ]:
number = original_num + 5

In [ ]:
number

# chapt_4_Mathematic Operation

In [ ]:
sum = 2+2
sum

In [ ]:
print(2+2)

In [ ]:
subtract = 6-2
subtract

In [ ]:
print(6-2)

In [ ]:
Multiplication = 2*2
Multiplication

In [ ]:
print(4*2)

In [ ]:
divide=(4/2)
divide

In [ ]:
print(4/2)

# Chap_6_Maths_Expression:Unfamiliar_Operator

In [ ]:
WHATS_LEFT_OVER = 10 % 3
WHATS_LEFT_OVER

In [ ]:
age=25
age

In [ ]:
age = age + 1
age

In [ ]:
age += 1
age

# Chap_7_Maths_Expression:Eliminating_Embiguity

In [ ]:
Give_operations = 3 * 3 + 4
Give_operations

In [ ]:
solve = (3*3)-6
solve

# Chap_8_Concatenating_Text_String

In [13]:
first_string = "Hello "
second_string = "World"
Double_string = first_string + second_string
Double_string

'Hello World'

In [15]:
print (Double_string)

Hello World

In [ ]:
sum

In [20]:
print("the sum of 2 + 2 is 4" )

the sum of 2 + 2 is 4

# IF_STATEMENT

In [ ]:
a= 10
b=20
if a > b:
    print ("if block")
    
else:
    print ("else block")

In [ ]:
temp= int(input("Enter the temperature today:"))# type casting
if temp <30:
    print ("its hot weather today")
else:
    print("normal weather")

# Nested_if

In [ ]:
cnic = input("do you have cnic?")
if cnic =='yes':
    print ("andar chalay jaen")
    nameinlist = input ("is my name in list?")
    if nameinlist == 'yes':
        print("please caste your vote")
    else:
        print ("you can not caste vote")
               
else:
    print ("you can not caste vote")

# if_elif_else

In [ ]:
mark = int(input("Enter your marks :"))
grade = " "
''''''
print(f"your marks are {mark} and your grade is {grade}")

# LIST

In [ ]:
students = ['asad', 'nasir','aisha']
students

In [ ]:
students [1]

In [ ]:
print("nasir")
print("ali")

In [ ]:
students.append ("hussain")
students

In [ ]:
students.insert(3,"abcd")

In [ ]:
del students[3]

In [ ]:
students

In [ ]:
students[2] = "Komal"

In [ ]:
student